.footerBar {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.329),
      rgba(0, 0, 0, 0.247)
    ),
    url("../images/img4.png");
  background-size: cover;
  background-position: center;
}
