.mobileBanner {
  background-image: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url("../../images/img4.png");
  background-position: center;
  background-size: cover;
  height: max-content;
}

.mdMobileBanner {
  background-image: url("../../images/img5.png");
  background-position: center;
  background-size: cover;
}

.mdBanner {
  height: inherit;
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.9)
  );
}
